<%= render_layout "body" do %>
  <div class="grid grid-cols-2 gap-20 grid-cols-[max-content_minmax(0,_1fr)]">
    <header class="col-span-2 flex flex-col gap-4">
      <h1 class="font-bold text-5xl"><%= current_page.data.title %></h1>
      <ul class="flex flex-row gap-4">
        <li>
          Updated <%= time_ago_in_words File.mtime current_page.asset.path %> ago
        </li>
        <li>
          <%= link_to "Edit", docs_edit_url, class: "font-semibold underline " %>
        </li>
        <li>
          <%= link_to "History", docs_history_url, class: "font-semibold underline " %>
        </li>
      </ul>
    </header>

    <article class="prose dark:prose-invert">
      <%= remove_h1 do %>
        <%= yield %>
      <% end %>
    </article>

    <nav class="leading-7 w-64">
      <ul>
        <%- toc(current_page).each do |h1| %>
          <li class="mb-6">
            <%=link_to h1.text, h1.url, class: "font-semibold" %>
            <ul class="text-sm mt-1">
              <% h1.children.each do |h2| %>
                <li class="ml-2">
                  <%=link_to h2.text, h2.url, class: "py-1 block" %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </nav>

    <footer class="col-span-2 prose max-w-fit text-center">
      <p>This work is licensed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a> License</p>

      <p>"Rails", "Ruby on Rails", and the Rails logo are trademarks of David Heinemeier Hansson. All rights reserved.</p>
    </footer>
  </div>
<% end %>