<!DOCTYPE html>
<html>
  <head>
    <title><%= current_page.data.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script defer data-domain="railsdocs.org" src="https://plausible.io/js/script.js"></script>
  </head>

  <body>
    <main class="container mx-auto m-28 px-5 flex flex-col w-max">
      <%= yield %>
    </main>
  </body>
</html>
